.movie {
  margin-left: 20px;
  margin-top: 50px;
}

img {
  width: 30%;
  margin: 20px;
}

.intro {
  display: flex;
  flex-direction: column;
  width: 500px;
}

.image_intro {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.additional_info {
  margin-left: 20px;
}
